<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de cadastro</title>
</head>
<body>
    <header>
        <h1>cadastrar </h1>
    </header>

    <main>
        <form action="/cadastrar/salvar" method="post">
            <div>
                <label for="nome">Nome completo</label>
                <input type="text" id="nome" name="nome">
            </div>
            <div>
                <label for="e-mail">e-mail:</label>
                <input type="e-mail" id="e-mail" name="e-mail">
            </div>
            <div>
                <label for="Senha">Senha:</label>
                <input type="Senha" id="Senha" name="Senha">
            </div>

            <button>Enviar</button>
        </form>

    </main>
</body>
</html>